@import "./variables.scss";
.layout {
  background-color: $dark;
  min-height: 100vh;
  .body {
    padding: 30px 50px;
    color: $white;
    overflow: scroll;
    // height: 150%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
